<footer class="footer bg-dark text-white text-center py-4 mt-auto">
  <div class="container">
    <div>
      <a routerLink="/" class="text-warning text-decoration-none mx-2">Home</a>
      <a routerLink="/about" class="text-warning text-decoration-none mx-2">About</a>
      <a routerLink="/projects" class="text-warning text-decoration-none mx-2">Projects</a>
      <a routerLink="/resume" class="text-warning text-decoration-none mx-2">Resume</a>
      <a routerLink="/contact" class="text-warning text-decoration-none mx-2">Contact</a>
    </div>
  </div>
</footer>
